################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KSMasterCli/Debug/map.csv
/KSMasterCli/Debug/map.xlsx
/KSMasterCli/Debug
/.vs
